.board {
    display: grid;
    grid-template-columns: repeat(8, 50px); 
    grid-gap: 1px;
}

.row {
    display: contents;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .square.empty {
        background-color: white;
    }

    .square.light {
        background-color: #f0f0f0;
    }

    .square.dark {
        background-color: #4db6ac; 
    }


.piece {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

    
    .piece.player1 {
        background-color: white;
        border: 2px solid black; 
    }

    
    .piece.player2 {
        background-color: black;
    }


.square.selected {
    border: 2px solid yellow;
}
